<br><br>


<div class="container " style="display: flex;">

    <div class="info">

        <h1>funcionamiento de nuestra aplicacion</h1>

        <br><br>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Repudiandae aperiam, quod possimus omnis, ipsa, molestiae incidunt 
            dolores consequatur sit ut at facilis 
            debitis error quis illum culpa consectetur reprehenderit dignissimos.
        </p>
        <br><br>

        <div  (click)="ir('login')" class="boton uno" ><span >empezar</span> </div>
        <div class="boton dos"><span>documentacion</span> </div>

    </div>
    
    <div class="cont" >
        <div class="img">
            
        </div>
    </div>
    
</div>
