<div class ="misajustes">
    <div class ="lateral ">
        <nav class ="navbar completa bg-dark">
            <ul class ="nav navbar-nav">
                <li (click)="ir('modiusu')" class ="nav-item">
                    <a class ="nav-link light" ><span> modificar mi usuario</span> </a>
                    <div class="imagen usuariom"></div>
                </li>
                <li (click)="ir('cambioseguridad')" class ="nav-item">
                    <a class ="nav-link light" ><span> seguridad y contraseñas</span> </a>
                    <div class="imagen seguridad"></div>
                </li>
                <li class ="nav-item">
                    <a class ="nav-link light" ><span> darse de baja</span> </a>
                    <div class="imagen baja"></div>
                </li>
                <li class ="nav-item">
                    <a class ="nav-link light" ><span> eliminar cuenta</span> </a>
                    <div class="imagen eliminar"></div>
                </li>
                <li (click)="ir('salir')" class ="nav-item">
                    <a class ="nav-link light" ><span> cerrar sesion</span> </a>
                    <div class="imagen cerrar"></div>
                </li>
            </ul>
        </nav>
    </div>
</div>
